
.page
	%article.white
		.container
			.section
				.title Discover new markets, grow your brand.
				.excerpt We give you the basic tools to get started for freeeeee
.container
	.new_store
		.row
			.col-sm-6
				%ul.bullets
					%li.bullet
						.bullet-icon.bullet-icon-1
							%img{:src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png", :alt => ""}/ 
						.bullet-content
							%h2 Create your store
							%p The shorter the name the easier to remember.
							
					%li.bullet
						.bullet-icon.bullet-icon-2
							%img{:src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png", :alt => ""}/ 
						.bullet-content
							%h2 Add your products
							%p Remember to name your products well.
							
					%li.bullet
						.bullet-icon.bullet-icon-2
							%img{:src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png", :alt => ""}/ 
						.bullet-content
							%h2 Easily manage products
							%p From your easy to use dashboard you can grow your brand.
			.col-sm-6
				#newStoreForm
					.card
						.card-header Create your store
						%br/
						= render 'form', store: @store
