
.container
	.home-hero
		.row
			.col-sm-6
				.hero
					%h1 Discover Africa's most exciting brands.
			.col-sm-6
				.home-cat-section
					.row
						- @categories.each do |category|
							.col-12
								.home-cat-section__card
									%h5.cat-name= link_to "#{category.name}", category
					%p.text-center= link_to "All categories", categories_path

.page
	%article.white
		.container
			.section
				.title Shop Africa's most exciting products
				.excerpt Join a community of awesome emerging brands
				-# = button_to "Setup "
