
.homepage
	background-color: #fbfbfb

.hero
	padding: 140px 7% 30px


.home-cat-section
	margin: 35px 0 20px
	.home-cat-section__card
		background-color: #fff
		padding: 20px
		margin: 10px
		height: 150px
		text-align: center
		box-shadow: 0 1px 1px 0 rgba(31, 35, 46, .15)
		.cat-name
			line-height: 100px
		
	

.home-hero
	min-height: 50vh