
%nav.navbar.sticky-top.navbar-white.bg-white
	.container
		= link_to "Claeus", root_path, class: "navbar-brand"
		
		.ml-auto
			%form.form-inline{:action => "#"}
				.input-group
					%input{:type => "text", class: "form-control", placeholder: "Search for something"}/
					%span.input-group-btn
						%button{ class: "btn btn-danger"}Search